- var nav_col_1 = ['Главная', 'Коллекции', 'О нас', 'Оформление свадеб'];
- var nav_col_2 = ['Доставка и оплата', 'Отзывы', 'Контакты'];

footer
  .container.row.between
    .col
      .logo
        a(href="#")
          img(src="/assets/img/logo-2.png", alt="logo")
          .text
            .site-title Король пион
            .site-desc студия цветов и подарков
      p г. Екатеринбург, ул. Чапаева, д. 21 Круглосуточно, без перерыва и выходных 24/7
      p © 2020 г. Король Пион
    .col
    .col.xs-hidden
      ul
        each item in nav_col_1
            li
              a(href="#")=item
    .col.xs-hidden
      ul
        each item in nav_col_2
            li
              a(href="#")=item
    .col
      .soc-icon
        a(href="")
          img(src="/assets/img/viber-f.png", alt="")
        a(href="")
          img(src="/assets/img/tg-f.png", alt="")
        a(href="")
          img(src="/assets/img/wa-f.png", alt="")
        a(href="")
          img(src="/assets/img/vk-f.png", alt="")
        a(href="")
          img(src="/assets/img/inst-f.png", alt="")
      .tel-number
        a(href="tel:+79126774846") +7(912)677-48-46