- var nav_col_1 = ['Главная', 'Коллекции', 'О нас', 'Оформление свадеб'];
- var nav_col_2 = ['Доставка и оплата', 'Отзывы', 'Контакты'];

footer
  .container.row.between
    .col
      a(href="#")
          img(src="/assets/img/logo.png", alt="logo")
      p г. Екатеринбург, ул. Чапаева, д. 21 Круглосуточно, без перерыва и выходных 24/7
      p © 2020 г. Король Пион
    .col
    .col.xs-hidden
      ul
        each item in nav_col_1
            li
              a(href="#")=item
    .col.xs-hidden
      ul
        each item in nav_col_2
            li
              a(href="#")=item
    .col
      .soc-icon
        a(href="")
          img(src="/assets/img/Viber.png", alt="")
        a(href="")
          img(src="/assets/img/tg.png", alt="")
        a(href="")
          img(src="/assets/img/WhatsApp.png", alt="")
      .tel-number
        a(href="tel:+79126774846") +7(912)677-48-46