extends ../layout/main

block variables
  - var title = 'О нас - Король Пион';

block content
    section
        .container
            .block-title.center О нас
            img(src="/assets/img/about_1.png", alt="")
            .grid.block-two-text.container-small
                .col_xs-12
                    .sub-title Студия цветов и подарков </br>«Король Пион»
                .col_xs-12
                    p это не только место, где можно заказать букет или необычный подарок в Екатеринбурге, но и позитивная компания, которая любит свою работу и старается удивить каждого клиента.
                    p Мы занимаемся флористикой вот уже 7 лет, за которые мы наработали огромный опыт работы с цветами, разработали множество идей необычного оформления, казалось бы, обычных букетов и накопили огромное портфолио цветочных композиций к любому случаю от свадебного торжества до первого свидания.
            .block-title.center Авторский дизайн букетов
            img(src="/assets/img/about_2.png", alt="")
            .grid.block-two-text.container-small
                .col_xs-12
                    .sub-title Нашей первейшей целью при выполнении заказа
                .col_xs-12
                    p является создание уникального незабываемого подарка с использованием цветов и других материалов. 
                    p Ведь банальная оберточная бумага и лента-бантик, перехватившая три розочки – это прошлый век. Мы создаем маленькие произведения искусства из свежих цветов, ознакомиться с некоторыми вы можете здесь.
    section.bg-accent-1
        .container-small
            .title Просто выскажите нам свои пожелания или просто сообщите, к какому случаю вам требуется презент, и мы соберем красивый подарок, состоящий из желаемых вами материалов. 
    section
        .container-small
            .block-title.center У нас вы найдете
            .text-block-wrap
                .grid_xs-1
                    .col
                        .text-block.center
                            .text-container
                                .text-title Букеты в обертке
                                p  декорированные зеленью, сухостоем или фруктами;
                            .number 1
                    .col
                        .text-block.center
                            .text-container
                                .text-title Букеты невесты
                                p букеты невесты, свадебная флористика и многое другое.
                            .number 2
                    .col
                        .text-block.center
                            .text-container
                                .text-title Цветы в коробках
                                p самых разных форм и размеров;
                            .number 3
                .grid_xs-1
                    .col
                        .text-block.center
                            .text-container
                                .text-title Цветы в картонных конвертах
                            .number 4
                    .col
                        .text-block.center
                            .text-container
                                .text-title Цветы в плетеных корзинках
                            .number 5
                    .col
    section.video
        .container
            .block-title.center Видео
            .grid_xs-2
                .col
                    .video-preview
                        .play
                        .mask
                        img(src="/assets/img/card-1.png", alt="")
                    .video-title Шикарные свежие пионы по акции! Предложение ограничено!
                .col
                    .video-preview
                        .play
                        .mask
                        img(src="/assets/img/card-1.png", alt="")
                    .video-title Букет невесты готов!
                .col
                    .video-preview
                        .play
                        .mask
                        img(src="/assets/img/card-1.png", alt="")
                    .video-title Korolpion
                .col
                    .video-preview
                        .play
                        .mask
                        img(src="/assets/img/card-1.png", alt="")
                    .video-title Korolpion
    section.autchor-comment
        .container
            img(src="/assets/img/quote.svg", alt="")
            .comment Не жди повода, радуй любимых </br>красивыми цветами. </br>Король Пион всегда поможет!