extends ../layout/main

block variables
  - var title = 'Свадьба в морском стиле - Король Пион';

block content
    .breadcrumbs.container
        a(href="#") Главная
        span.sep >
        a(href="#") Оформление свадеб
        span.sep >
        span.current Свадьба в морском стиле
    section
        .container
            .block-title.center Свадьба в морском стиле
            img(src="/assets/img/event-single-1.png", alt="")
            .grid.block-two-text.container-small
                .col
                    .sub-title Свадьба Дмитрия и Анастасии. Ресторан БЦ «Высоцкий» 
                .col
                    p Дорогие друзья! Хотим поделиться с вами еще одним нашим оформлением свадьбы, которая состоялась 6 сентября 2016 года у прекрасной пары Дмитрия и Анастасии! На этот раз ребята, вдохновленные своим предсвадебным путешествием, решили отпраздновать свое бракосочетание в морском стиле. Само торжество состоялось в ресторане «Влади BAR» на 37 этаже БЦ «Высоцкий»
    section.gallery
        .container
            .grid
                .col
                    a(href="/assets/img/event-single-2.png", data-fancybox="gallery")
                        img(src="/assets/img/event-single-2.png", alt="")
                .col
                    a(href="/assets/img/event-single-2.png", data-fancybox="gallery")
                        img(src="/assets/img/event-single-2.png", alt="")
            .grid
                .col
                    a(href="/assets/img/event-single-3.png", data-fancybox="gallery")
                        img(src="/assets/img/event-single-3.png", alt="")
                .col
                    a(href="/assets/img/event-single-4.png", data-fancybox="gallery")
                        img(src="/assets/img/event-single-4.png", alt="")
            .grid
                .col
                    a(href="/assets/img/event-single-5.png", data-fancybox="gallery")
                        img(src="/assets/img/event-single-5.png", alt="")
            .grid
                .col
                    a(href="/assets/img/event-single-6.png", data-fancybox="gallery")
                        img(src="/assets/img/event-single-6.png", alt="")
                .col
                    a(href="/assets/img/event-single-7.png", data-fancybox="gallery")
                        img(src="/assets/img/event-single-7.png", alt="")