extends ../layout/main

block variables
  - var title = 'Оформление заказа - Король Пион';

block content
    section.order
            .container
                .block-title.center Оформление заказа
                ul.tabs
                    li.tab-link.current(data-tab="tab-1") сбор заказа
                    li.tab-link(data-tab="tab-2") доставка
                    li.tab-link(data-tab="tab-3") оплата
                .tab-content.current.form-wrap-step-1(id="tab-1")
                    .grid-center
                        .col 
                            +input('text', 'ваше имя', 1)
                            +input('tel', 'ваш телефон', 1)
                            +input('email', 'ваше Email', 1)
                            .btn-wrap.right
                                input(type="button", value="Далее", class="light" )
                .tab-content.form-wrap-step-2(id="tab-2")
                    .grid
                        .col
                            .radio-wrap.gorizontal
                                input(type="radio", name="radio1", id="radio1-1")
                                label(for="radio1-1") Доставть мне
                                input(type="radio", name="radio1", id="radio1-2")
                                label(for="radio1-2") Доставить получателю
                                input(type="radio", name="radio1", id="radio1-3")
                                label(for="radio1-3") Самовывоз (ул.Чапаева, д. 21)
                    .grid
                        .col
                            .delivery-price <i class='icon-info'></i> cтоимость доставки: <span>300 р.</span>при заказе от 4000 р. доставка бесплатная
                    .grid
                        .col
                            +input('date', 'Дата', 1)
                            +time-input()
                        .col
                            +input('text', 'Город', 0)
                            +input('text', 'Улица', 1)
                            .grid
                                .col 
                                    +input('text', 'Дом', 1)
                                .col
                                    +input('text', 'Корпус', 0)
                            .grid
                                .col
                                    +input('text', 'Строение', 0)
                                .col
                                    +input('text', 'Подьезд', 0)
                            .grid
                                .col
                                    +input('text', 'Этаж', 0)
                                .col
                                    +input('text', 'Квартира, офис', 0)
                        .col
                            .grid
                                .col.mt20
                                    +textarea()
                                    .checkbox-wrap.gorizontal
                                        input(type="checkbox", name="checkbox1", id="checkbox1-1")
                                        label(for="checkbox1-1") текст открытки — ананимно
                            .grid
                                .col
                                    +textarea()
                            

                .tab-content.form-wrap-step-3(id="tab-3")