extends ../layout/main

block variables
  - var title = 'Пионы «Сара Бернар» (поштучно) - Король Пион';

block content
    .breadcrumbs.container
        a(href="#") Главная
        span.sep >
        a(href="#") Каталог
        span.sep >
        span.current Букеты из роз
    section
        .container
            .product-single-wrap
                .grid
                    .col-6_xs-12.product-gallery-wrap
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="/assets/img/home-slider.png")
                                .swiper-slide
                                    img(src="/assets/img/card-1.png")
                                .swiper-slide
                                    img(src="/assets/img/card-2.png")
                                .swiper-slide
                                    img(src="/assets/img/card-3.png")
                        .swiper-container.product-gallery
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="/assets/img/home-slider.png")
                                .swiper-slide
                                    img(src="/assets/img/card-1.png")
                                .swiper-slide
                                    img(src="/assets/img/card-2.png")
                                .swiper-slide
                                    img(src="/assets/img/card-3.png")
                    .col.product-info
                        h1 Пионы «Сара Бернар» (поштучно)
                        .grid.price-wrap
                            .col
                                span.price 350 руб
                                span.price-old 450 руб
                            .col
                                .product-count
                                    span.count-title количество:
                                    .count-wrap
                                        span.minus -
                                        input(type="number", name="count", placeholder="0")
                                        span.plus +
                        .grid-middle-noBottom.product-meta
                            .col-3_xs-6.sale
                                .meta-title скидка:
                            .col-3_xs-6.right.sale 0%
                            .col-6_xs-hidden
                        .grid-middle-noBottom.product-meta
                            .col-3_xs-6
                                .meta-title промокод:
                            .col-3_xs-6
                                input(type="text", name="promo", placeholder="KXHG78")
                            .col-6_xs-12.description
                                .icon ?
                                .text Подписывайтесь на наш инстаграмм и отслеживайте новые промокоды
                        .btn-wrap
                            a(href="#") Купить
                        .grid_xs-noBottom.product-meta
                            .col-3_xs-12
                                .meta-title размер букета:
                            .col диаметр 35-40 см
                        .grid-noBottom.product-meta
                            .col-3_xs-12
                                .meta-title состав букета:
                            .col Пионы - 3;  Танацетум (ромашки) - 3;  Оксипеталум - 3;  Папоротник;  Эвкалипт;  Упаковка;  Альхемилла
    section.product-desc
        .container
            p Небольшая и недорогая, но очень оригинальная цветочная композиция в кружке Прекрасно подойдёт для дополнения к основному подарку или просто как небольшой цветочный комплимент для выражения своей симпатии.
            p К тому же, данная композиция выделяется своей практичностью, ведь даже после того, как цветочки в ней завянут у вас останется кружечка стандартного размера 250 мл, которая и в дальнейшем не останется без дела
    section.notice
        .container
            .grid
                .col_xs-12
                    h2 Обратите внимание
                .col_xs-12
                    p Собранный по вашему заказу букет может немного отличаться от того, что на фото. В зависимости от сезона и имеющегося ассортимента, некоторые цветы могут быть заменены. 
                    p Если вы выбираете дистанционный способ оплаты "Pay on-line (банковские карты)" то перед оплатой рекомендуем согласовать наличие необходимых цветов с менеджером магазина.
    section
        .container
            .text-block-wrap.center
                .row
                    .col
                        .text-block
                            img(src="/assets/img/foto.svg", alt="")
                            .text-container
                                .text-title Фото букета
                                p перед отправкой в мессенджер или по эллектонной почте 
                    .col
                        .text-block
                            img(src="/assets/img/card.svg", alt="")
                            .text-container
                                .text-title Удобная оплата
                                p Онлайн-платеж (Яндекс Касса) Наличными курьеру
                    .col
                        .text-block
                            img(src="/assets/img/delivery.svg", alt="")
                            .text-container
                                .text-title Быстрая доставка:
                                p Сегодня в 20:00
    section
        .container
            .block-title.center Похожие товары
            .products-wrap
                each _ in Array(2)
                    +product_card('/assets/img/card-1.png', 'Пионы белые', '1 350 р.', '450 р.')
                    +product_card('/assets/img/card-2.png', 'Букет с розами, альстромерией, гвоздикой и герберой «искры чувств»', '10 150 р.', '11 450 р.')
                    +product_card('/assets/img/card-3.png', 'Букет в круглой сумочке с альстромерией и розами', '1 950 р.', '850 р.')
                    +product_card('/assets/img/card-4.png', 'Пионы «Сара Бернар»', '350 р.', '450 р.')
    section
        .container
            .block-title.center Получателю также понравится

            ul.tabs
                li.tab-link.current(data-tab="tab-1") шары
                li.tab-link(data-tab="tab-2") открытки
                li.tab-link(data-tab="tab-3") конфеты
                li.tab-link(data-tab="tab-4") игрушки
            .tab-content.current(id="tab-1")
                .products-wrap
                    each _ in Array(2)
                        +product_card('/assets/img/card-1.png', 'Пионы белые', '1 350 р.', '450 р.')
                        +product_card('/assets/img/card-2.png', 'Букет с розами, альстромерией, гвоздикой и герберой «искры чувств»', '10 150 р.', '11 450 р.')
                        +product_card('/assets/img/card-3.png', 'Букет в круглой сумочке с альстромерией и розами', '1 950 р.', '850 р.')
                        +product_card('/assets/img/card-4.png', 'Пионы «Сара Бернар»', '350 р.', '450 р.')
                .btn-wrap.center
                    a(href="#") Показать все
            .tab-content(id="tab-2")
                .products-wrap
                    each _ in Array(2)
                        +product_card('/assets/img/card-1.png', 'Пионы белые', '1 350 р.', '450 р.')
                        +product_card('/assets/img/card-2.png', 'Букет с розами, альстромерией, гвоздикой и герберой «искры чувств»', '10 150 р.', '11 450 р.')
                        +product_card('/assets/img/card-3.png', 'Букет в круглой сумочке с альстромерией и розами', '1 950 р.', '850 р.')
                        +product_card('/assets/img/card-4.png', 'Пионы «Сара Бернар»', '350 р.', '450 р.')
                .btn-wrap.center
                    a(href="#") Показать все
            .tab-content(id="tab-3")
                .products-wrap
                    each _ in Array(2)
                        +product_card('/assets/img/card-1.png', 'Пионы белые', '1 350 р.', '450 р.')
                        +product_card('/assets/img/card-2.png', 'Букет с розами, альстромерией, гвоздикой и герберой «искры чувств»', '10 150 р.', '11 450 р.')
                        +product_card('/assets/img/card-3.png', 'Букет в круглой сумочке с альстромерией и розами', '1 950 р.', '850 р.')
                        +product_card('/assets/img/card-4.png', 'Пионы «Сара Бернар»', '350 р.', '450 р.')
                .btn-wrap.center
                    a(href="#") Показать все
            .tab-content(id="tab-4")
                .products-wrap
                    each _ in Array(2)
                        +product_card('/assets/img/card-1.png', 'Пионы белые', '1 350 р.', '450 р.')
                        +product_card('/assets/img/card-2.png', 'Букет с розами, альстромерией, гвоздикой и герберой «искры чувств»', '10 150 р.', '11 450 р.')
                        +product_card('/assets/img/card-3.png', 'Букет в круглой сумочке с альстромерией и розами', '1 950 р.', '850 р.')
                        +product_card('/assets/img/card-4.png', 'Пионы «Сара Бернар»', '350 р.', '450 р.')
                .btn-wrap.center
                    a(href="#") Показать все
            