extends ../layout/main

block variables
  - var title = 'Оформление свадеб - Король Пион';

block content
    section
        .container
            .block-title.center Оформление свадеб
            img(src="/assets/img/wedding-1.png", alt="")
            .grid.block-two-text.container-small
                .col_xs-12
                    .sub-title Составление свадебных букетов это целая наука и она требует опыта и знания современных дизайнерских технологий.
                .col_xs-12
                    p При выполнении задач специалист уделяет внимание многим аспектам. Это время года, пожелания молодожёнов, их финансовые возможности, цветовая гамма, наряды клиентов, модные тенденции и т.д. Следует понимать, что даже самый красивый букет или украшение будет целесообразным, если он будет дополнять образ и сочетаться со всеми элементами (причёской, нарядом).
    section
        .container
            .wedding-events
                .grid-3_xs-2
                    .col
                        .event-item
                            .img
                                .hover
                                    a(href="#") Подробнее
                                img(src="/assets/img/wedding-event-1.png", alt="")
                            .title Свадьба Дмитрия и Анастасии. 
                            .desc Ресторан БЦ «Высоцкий»
                    .col
                        .event-item
                            .img
                                .hover
                                    a(href="#") Подробнее
                                img(src="/assets/img/wedding-event-2.png", alt="")
                            .title Свадьба Сергея и Евгении 
                            .desc «Вилла Богема»
                    .col
                        .event-item
                            .img
                                .hover
                                    a(href="#") Подробнее
                                img(src="/assets/img/wedding-event-3.png", alt="")
                            .title Свадьба Александра и Анны
                            .desc Ресторан «Мезон»
                    .col
                        .event-item
                            .img
                                .hover
                                    a(href="#") Подробнее
                                img(src="/assets/img/wedding-event-1.png", alt="")
                            .title Свадьба Дмитрия и Анастасии. 
                            .desc Ресторан БЦ «Высоцкий»
                    .col
                        .event-item
                            .img
                                .hover
                                    a(href="#") Подробнее
                                img(src="/assets/img/wedding-event-2.png", alt="")
                            .title Свадьба Сергея и Евгении 
                            .desc «Вилла Богема»
                    .col
                        .event-item
                            .img
                                .hover
                                    a(href="#") Подробнее
                                img(src="/assets/img/wedding-event-3.png", alt="")
                            .title Свадьба Александра и Анны
                            .desc Ресторан «Мезон»
                .btn-wrap.center
                    a(href="#") Показать все

    
    section
        .container
            .block-title.center Заказать свадебный декор у флористов
            img(src="/assets/img/catalog_img.png", alt="")
            .grid.block-two-text.container-small
                .col_xs-12
                    .sub-title Свадьба является очень важным мероприятием
                .col_xs-12
                    p К каждой мелочи следует подходить максимально серьёзно. В нашем интернет-магазине очень много растений. Здесь вы наверняка сможете найти цветок, от которого невеста будет в восторге! Доставка букетов и украшений всегда оперативная. Наша студия имеет и другие преимущества:
    section
        .container-small
            .block-title.center Наши преимущества 
            .text-block-wrap
                .grid
                    .col
                        .text-block.center
                            .text-container
                                .text-title Любовь к своему делу
                            .number 1
                    .col
                        .text-block.center
                            .text-container
                                .text-title Оригинальность творческих идей
                            .number 2
                    .col
                        .text-block.center
                            .text-container
                                .text-title Умение быстро работать
                            .number 3
                .grid
                    .col
                        .text-block.center
                            .text-container
                                .text-title Понимание языка цветов
                            .number 4
                    .col
                        .text-block.center
                            .text-container
                                .text-title При разработке дизайна флорист учитывает все пожелания клиента
                            .number 5
    section.bg-accent-1
        .container-small
            .title Грамотно выполненная флористика не только создаст торжественную и красочную атмосферу, но и сделает оригинальными и запоминающимися свадебные фотографии. 
    section.contact-buttom
        .container-small
            .grid
                .col_xs-12
                    .title Закажите свадебную </br>флористику у нас 
                .col_xs-12
                    a(href="tel:+7(912)677-48-46") <span class='icon-phone'></span> +7(912)677-48-46
                    p Чтобы проконсультироваться с флористами, позвоните в студию с по телефону выше 