footer{
    background: #F1EBE5;
    padding: 30px 0;
    box-shadow: 0px 0px 6px rgba(1, 20, 47, 0.25);
    p, a{
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        @include mq('phone') {
            font-size: 14px;
            line-height: normal;
            text-align: center;
        }
    }
    .col{
        flex: 1;
        &>*{
            margin-bottom: 15px;
            @include mq('phone') {
                margin-bottom: 20px;
            }
        }
    }
    p, ul, .soc-icon{
        margin-top: 20px;
        @include mq('phone') {
            margin-top: 0;
            text-align: center;
        }
    }
    .tel-number{
        @include mq('phone') {
            text-align: center;
            margin: 0;
        }
    }
}