footer{
    background: #F1EBE5;
    padding: 30px 0;
    box-shadow: 0px 0px 6px rgba(1, 20, 47, 0.25);
    .logo a{
        display: flex;
        @include mq('phone') {
            justify-content: center;
        }
        .text{
            margin-left: 5px;
        }
        .site-title{
            font-family: Lora;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            color: #1A2026;
            border-bottom: 1px solid #d8d8d8;
        }
        .site-desc{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            text-align: center;
            color: #939598;
            line-height: 1;
        }
    }
    p, a{
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        @include mq('phone') {
            font-size: 14px;
            line-height: normal;
            text-align: center;
        }
    }
    .col{
        flex: 1;
        &>*{
            margin-bottom: 15px;
            @include mq('phone') {
                margin-bottom: 20px;
            }
        }
    }
    p, ul, .soc-icon{
        margin-top: 20px;
        @include mq('phone') {
            margin-top: 0;
            text-align: center;
        }
    }
    .soc-icon{
        img{
            width: 35px;
            padding: 0 5px;
        }
    }
    .tel-number{
        @include mq('phone') {
            text-align: center;
            margin: 0;
        }
    }
}