.order{
    .form-wrap-step-1{
        max-width: 420px;
        margin: 0 auto;
    }
    .form-wrap-step-2{
        max-width: 1020px;
        margin: 0 auto;
    }
    .delivery-price{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #1A2026;
        span{
            display: inline-block;
            background: #F1EBE5;
            border-radius: 65px;
            height: 30px;
            line-height: 30px;
            padding: 0 20px;
            margin: 0 10px;
        }
    }
}